<div>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a asp-area="" asp-controller="Events" asp-action="Index">
                <span class="glyphicon glyphicon-list-alt"></span> Events <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id="eventsDDL">
                <li>
                </li>
            </ul>
        </li>
    </ul>
</div>